/ReminderApp/ReminderApp.Android/obj
/ReminderApp/ReminderApp.Android/bin
/ReminderApp/ReminderApp/obj
/ReminderApp/ReminderApp/bin
/ReminderApp/ReminderApp.iOS/obj
/ReminderApp/ReminderApp.iOS/bin
/ReminderApp/ReminderApp.Android/ReminderApp.Android.csproj.user
/.vs
/icon
/APKs
